@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Arial, sans-serif;
}

body {
    background-color: #F4F4F4;
    color: #2c3e50;
}

h2 {
    color: #2c3e50;
}


#minhatabela td,
#minhatabela th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

table.dataTable {
    background-color: #ffffff;
    color: #2c3e50;
    border-collapse: collapse;
}

table.dataTable th {
    background-color: #003366;
    color: #ffffff;
}

table.dataTable td {
    background-color: #ffffff;
    color: #2c3e50;
}

table.dataTable tr:hover {
    background-color: #3498db;
}


button {
    background-color: #003366;
    color: #ffffff;
    border: none;
    padding: 6px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #002244;
}


.container {
    max-width: 97%;
    margin: 20px auto;
    overflow-x: auto;
    border: 1px solid #95a5a6;
    padding: 10px;
    border-radius: 6px;
    box-shadow: -3px 3px 15px -4px rgba(0,0,0,0.3);
    background-color: #ffffff;
}


.botao-cadastrar {
    width: 140px;
    height: 50px;
    margin-left: 30px;
    margin-top: 15px;
    font-size: 15px;
    background-color: #003366;
    color: #ffffff;
    border-radius: 6px;
    box-shadow: -3px 3px 15px -4px rgba(0,0,0,0.3);
    transition: 0.3s;
}

.botao-cadastrar:hover {
    background-color: #002244;
}
.btn-editar {
    background-color: #3498db; 
    color: #ffffff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-editar:hover {
    background-color: #217dbb; 
}

.btn-inativar {
    background-color: #e74c3c; 
    color: #ffffff;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}