    #minhatabela td,
    #minhatabela th {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        
    }

/*   #4A90E2   #6BB1F8   #242424  #EAF4FD */

    body {
        background-color: #EAF4FD;
        color: #242424;
        font-family: Arial, sans-serif;
    }

    h2 {
        color: #242424;
    }

    table.dataTable {
        background-color: #EAF4FD;
        color: #242424 ;
        border-collapse: collapse;
    }

    table.dataTable th {
        background-color: #EAF4FD;
        color: #242424 ;
    }

    table.dataTable td {
        background-color: #EAF4FD;
        color: #242424;
    }

    table.dataTable tr:hover {
        background-color: #6BB1F8;
    }

    button {
        background-color: #6BB1F8;
        color: #EAF4FD;
        border: none;
        padding: 6px 10px;
        border-radius: 4px;
        cursor: pointer;
    }

    button:hover {
        background-color: #6BB1F8;
    }

    .container {
    max-width: 97%; 
    margin: 20px auto; 
    overflow-x: auto; 
    border: 1px solid #242424; 
    padding: 10px; 
    border-radius: 6px; 
}

.botao-cadastrar{
    margin:15px;
    margin-left: 92%;

}
